#background {
    height: 725px; background-color:#7a459d ;
}

body {
    background-color:white; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: blue;
    color: #d9c2a3;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}   
.icon {
    width: 80px;
}

footer a{background-color:#e63946;


}
.msg h2{background-color:#457b9d ;

}



.msg p{background-color: #a8dadc; 
}