
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

h1{
    font-family: 'Adril Fatface';
}
h2{
    color: red;
}

p{
    background-image:url('w06_cherries.png');
    
}


yamir vallejo